NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/anti_leba?schema=public

JWT_SECRET=replace_me_with_a_long_random_string
JWT_EXPIRES_IN=1d

CORS_ORIGINS=http://localhost:3000,http://10.0.2.2:3000
